In [4]:
from openml import datasets, tasks, runs
import numpy as np
import pandas as pd
import os

In [5]:
datalist = datasets.list_datasets()

In [6]:
data = pd.DataFrame(datalist)

In [7]:
data[:10][['did','name','NumberOfInstances','NumberOfFeatures']]

KeyError: "['did' 'name' 'NumberOfInstances' 'NumberOfFeatures'] not in index"

,1,2,3,4,5,6,7,8,9,10,...,40589,40590,40591,40592,40593,40594,40595,40596,40597,40601
MajorityClassSize,684,684,1669,37,245,813,57,-1,67,81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3707,NaN,NaN
MaxNominalAttDistinctValues,10,9,3,3,2,-1,6,-1,22,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MinorityClassSize,0,0,1527,20,0,734,1,-1,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75,NaN,NaN
NumberOfClasses,6,6,2,2,16,26,24,-1,7,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
NumberOfFeatures,39,39,37,17,280,17,70,7,26,19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1101,NaN,NaN
NumberOfInstances,898,898,3196,57,452,20000,226,345,205,148,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3782,NaN,NaN
NumberOfInstancesWithMissingValues,0,898,0,56,384,0,222,0,46,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
NumberOfMissingValues,0,22175,0,326,408,0,317,0,59,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
NumberOfNumericFeatures,6,6,0,8,206,16,0,6,15,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1079,NaN,NaN
NumberOfSymbolicFeatures,33,33,37,9,74,1,70,1,11,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,NaN,NaN
did,1,2,3,4,5,6,7,8,9,10,...,40589,40590,40591,40592,40593,40594,40595,40596,40597,40601
format,ARFF,ARFF,ARFF,ARFF,ARFF,ARFF,ARFF,ARFF,ARFF,ARFF,...,ARFF,ARFF,ARFF,ARFF,ARFF,ARFF,ARFF,ARFF,ARFF,ARFF
name,anneal,anneal,kr-vs-kp,labor,arrhythmia,letter,audiology,liver-disorders,autos,lymph,...,emotions,enron,genbase,image,langLog,reuters,scene,slashdot,yeast,RAM_price
status,active,active,active,active,active,active,active,active,active,active,...,active,active,active,active,active,active,active,active,active,active